@keyframes play150 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -127500px 0px;
  }
}
.shapeshifter {
  animation-duration: 5000ms;
  animation-timing-function: steps(150);
  width: 850px;
  height: 844px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play150;
}
