<div class="intro active">
  <h1 class="visually-hidden">Animation intro</h1>

  <!-- Intro header -->
  <!-- <div class="intro__header visually-hidden">
    <a class="intro__logo logo" href="./index.html">
      <svg class="logo__svg" width="199" height="50">
        <use href="./images/svg/sprite.svg#logo"></use>
      </svg>
    </a>
    <button class="intro__close" data-close-intro type="button">x</button>
  </div> -->

  <ul class="intro__slides slides">
    <li class="slides__item"></li>
  </ul>
  <div class="wrapper">
    <div class="shapeshifter play intro__bg"></div>
  </div>

  <img
    class="intro__image"
    src="./images/hero/icecream-hero@1x.png"
    alt="Big ice cream"
  />

  <ul class="intro__developers developers">
    <li class="developers__item">
      <a href="" class="developers__link">Team lead</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Scram master</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>

    <li class="developers__item">
      <a href="" class="developers__link">Developer</a>
    </li>
  </ul>
</div>
