.button {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 50%;
  @include projTransitions('color, background-color');

  &:hover {
    background-color: antiquewhite;
    color: darkblue;
  }
}
