@keyframes play300 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -103800px 0px;
  }
}
.shapeshifter {
  animation-duration: 5000ms;
  animation-timing-function: steps(300);
  width: 346px;
  height: 344px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play300;
}
